@model List<MarketCore.Classes.ProductVariation>
@using MarketCore.EmunsAndConst
@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        @foreach (var pv in @Model)
        {

            {
                string itemStyle = "item";
                if (@Model.IndexOf(pv) == 0)
                {
                    itemStyle += " active";
                }


                <div class="@itemStyle">
                    <div align="center">
                        <img src="@Url.Content("~/images/products/" + pv.ColorVariation.ImageURLs.FirstOrDefault().Path)" class="img-responsive" style="height: 400px"/>
                    </div>
                    <div class="carousel-caption" role="option" style="color: black">
                        <p>
                            Новинка!@pv.BaseProduct.Name всего за @pv.Price грн
                            <a class="btn btn-default" href='@Url.Action("ProductVariation", "Catalog", new {productVariationID = @pv.ProductVariationId})'>
                                Подробнее
                            </a>
                        </p>
                    </div>
                </div>
            }
        }
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="text-center">Женская одежда</h2>
        <div align="center">
            <a href='@Url.Action("Param", "Catalog",new {gender=GenderCategoriesEnum.Woman })'>
                <img src="~/images/WomanDress.jpg" alt="Женская одежда" class="img-responsive" />
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Мужская одежда</h2>
        <div align="center">
            <a href='@Url.Action("Param", "Catalog",new {gender=GenderCategoriesEnum.Man })'>
                <img src="~/images/ManDress.jpg" alt="Мужская одежда" class="img-responsive" />
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Новинки</h2>
        <div align="center">
            <a href='@Url.Action("Contact", "Home")'>
                <img src="~/images/NewDress.jpg" alt="Новинки" class="img-responsive" />
            </a>
        </div>
    </div>
</div>
